In [31]:
import pandas as pd

data = pd.read_csv("./dataset/processed-data.csv");

data_df = pd.DataFrame(data)

data_df

               prompt  completion
0            hi there           0
1                 hey           0
2               hello           0
3        good morning           0
4      good afternoon           0
..                ...         ...
433    need your help           6
434      madad kariye           6
435       aap kaun ho           6
436  kaise use karein           6
437  use karna sikhao           6

[438 rows x 2 columns]

In [32]:
data_df.to_json("./dataset/training-data.jsonl", orient='records', lines=True)